<?xml version="1.0"?>
<launch>

  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  
  
  <include file="$(find yocs_velocity_smoother)/launch/velocity_smoother.launch">
    <arg name="nodelet_manager_name"  value="mobile_base_nodelet_manager"/>
    <arg name="config_file" default="$(find cortexbot)/params/smoother.yaml" />
    <arg name="raw_cmd_vel_topic"     default="velocity_smoother/navigator"/>
    <arg name="smooth_cmd_vel_topic"  default="cmd_vel_mux/input/navi"/>
  </include>
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>
  <include file="$(find kobuki_auto_docking)/launch/minimal.launch" />
  
  <include file="$(find rplidar_ros)/launch/rplidar_a3.launch">
    <param name="frame_id" type="string" value="laser_link"/>
  </include>

  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
  <rosparam command="load" file="$(find cortexbot)/params/mapper_params_online_sync.yaml" />
  </node>

  <node name="navigator" pkg="cortexbot" type="scan_random_nav.py" output="screen"/>
  <node name="tf2_lidar" pkg="cortexbot" type="lidar_tf2_broadcaster.py" output="screen"/>
  <node name="path_recorder" pkg="cortexbot" type="record_path.py" output="screen"/>
</launch>
